<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Coding Standard for WP Test Utils" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>Check the code of WP Test Utils.</description>

    <!--
    #############################################################################
    COMMAND LINE ARGUMENTS
    https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
    #############################################################################
    -->

    <file>.</file>

    <!-- Only check PHP files. -->
    <arg name="extensions" value="php"/>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>

	<!-- Cache the results between runs. -->
	<arg name="cache" value="./.cache/phpcs.cache"/>


	<!--
	#############################################################################
	USE THE YoastCS RULESET
	#############################################################################
	-->

	<rule ref="Yoast">
		<properties>
			<!-- Provide the plugin specific prefixes for all naming related sniffs. -->
			<property name="prefixes" type="array">
				<element value="Yoast\WPTestUtils"/>
			</property>
		</properties>

		<!-- Use CamelCaps file names to be more in line with the naming conventions used in PHPUnit. -->
		<exclude name="Yoast.Files.FileName"/>

		<!-- The code in this package is not run in the context of a plugin. -->
		<exclude name="WordPress.WP.AlternativeFunctions"/>
		<exclude name="Yoast.Yoast.AlternativeFunctions"/>
	</rule>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration"/>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<rule ref="Yoast.NamingConventions.NamespaceName">
		<properties>
			<property name="prefixes" type="array">
				<element value="Yoast\WPTestUtils"/>
			</property>
			<property name="src_directory" type="array">
				<element value="src"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="maxColumn" value="72"/>
		</properties>
	</rule>

	<rule ref="WordPress.PHP.NoSilencedErrors">
		<properties>
			<property name="custom_whitelist" type="array">
				<element value="file_exists"/>
			</property>
		</properties>
	</rule>


	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<!-- Allow filecomments in file which don't contain OO declarations. -->
	<rule ref="Yoast.Commenting.FileComment.Unnecessary">
		<exclude-pattern>/src/*/bootstrap*\.php$</exclude-pattern>
	</rule>

	<!-- Declaring a few WordPress native constants. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound">
		<exclude-pattern>/src/BrainMonkey/bootstrap\.php$</exclude-pattern>
	</rule>

	<!-- Allow for camelCase method and variable names to be more in line with PHPUnit and BrainMonkey. -->
	<rule ref="WordPress.NamingConventions.ValidFunctionName">
		<exclude-pattern>/src/Helpers/*\.php$</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<exclude-pattern>/src/Helpers/*\.php$</exclude-pattern>
	</rule>

	<!-- Ignore word count for object names in tests. -->
	<rule ref="Yoast.NamingConventions.ObjectNameDepth.MaxExceeded">
		<exclude-pattern>/tests/*\.php$</exclude-pattern>
	</rule>

	<!-- Test fixtures are not the actual tests. -->
	<rule ref="Yoast.Commenting.TestsHaveCoversTag">
		<exclude-pattern>/tests/*/Fixtures/*\.php$</exclude-pattern>
	</rule>

	<!--
	#############################################################################
	TEMPORARY ADJUSTMENTS
	Adjustments which should be removed once the associated issue has been resolved.
	#############################################################################
	-->

	<!-- PHPCS Bug: https://github.com/squizlabs/PHP_CodeSniffer/pull/3184 -->
	<rule ref="PSR2.Namespaces.NamespaceDeclaration">
		<exclude-pattern>/src/WPIntegration/(bootstrap-functions|Autoload)\.php$</exclude-pattern>
	</rule>

</ruleset>
